.snakemake
.snakemake_timestamp
*.swp
data/genomes/*.gz
data/references/*.fas
NOTES*
TODO*
run/*
tmp/*
data/references_large.tgz
data/references_medium.tgz
data/references_small.tgz
data/references_AA.tgz
private/
Old/
